<zone>
  <name>Knothole Nest</name>
  <zoneID>900</zoneID>
  <assetURL>http://</assetURL>
  <audioLibrary>home_music_animal</audioLibrary>
  <baseAvatarScale>0.2</baseAvatarScale>
  <layers>
    <layer type="normal" width="6210" height="3712">
      <image x="2700" y="1614">background_04.swf</image>
    </layer>
    <layer type="ground" width="7714" height="4671">
      <image x="3354" y="2031">action_03.swf</image>
      <image x="3354" y="2031" party="1">animal_flag_party_02.swf</image>
      <image x="3354" y="2031" party="2">animal_flower_party_02.swf</image>
      <image x="3354" y="2031" party="3">animal_lighting_party_02.swf</image>
    </layer>
    <layer type="normal" width="9315" height="6210">
      <image x="4050" y="2700">dust_02.swf</image>
    </layer>
    <layer type="normal" width="8280" height="5706">
      <image x="3600" y="2481">foreground_01.swf</image>
      <image x="3600" y="2481" party="1">animal_flag_party_04.swf</image>
      <image x="3600" y="2481" party="2">animal_flower_party_04.swf</image>
      <image x="3600" y="2481" party="3">animal_lighting_party_04.swf</image>
    </layer>
  </layers>
  <locations>
    <location x="3784" y="2431">frontDoor</location>
  </locations>
  <bgms>
    <bgm>
      <id>home_music_animal</id>
      <loops>0</loops>
      <volumeLow>0.185</volumeLow>
      <volumeHigh>0.1855</volumeHigh>
    </bgm>
  </bgms>
  
  
  
  
  
  
  
  
  
  
  
  <maximumSpawnStacks>0</maximumSpawnStacks>
  
  <validArea type="polygon">
    
    <vertex x="3480" y="2271"/>
    
    <vertex x="4364" y="2271"/>
    
    <vertex x="4364" y="2570"/>
    
    <vertex x="3480" y="2570"/>
    
  </validArea>
  
  <rooms>
    
    <room index="1" x="3889" y="2401">
      
      <bounds type="box">
        
        <left>3479</left>
        
        <right>4365</right>
        
        <top>2270</top>
        
        <bottom>2571</bottom>
        
      </bounds>
      
      <nearPlane>
        
        <left>3484</left>
        
        <right>4264</right>
        
        <top>2245</top>
        
        <bottom>2596</bottom>
        
      </nearPlane>
      
      <farPlane>
        
        <left>3579</left>
        
        <right>4169</right>
        
        <top>2245</top>
        
        <bottom>2487</bottom>
        
      </farPlane>
      
    </room>
    
  </rooms>
  
  <decorations/>
  
</zone>