<zone>
  <name>Sunflower Studio</name>
  <zoneID>703</zoneID>
  <assetURL>http://</assetURL>
  <audioLibrary>home_music_light</audioLibrary>
  <baseAvatarScale>0.2</baseAvatarScale>
  <layers>
    <layer type="normal" width="6348" height="3795">
      <image x="2760" y="1650">../home3/background_03.swf</image>
    </layer>
    <layer type="ground" width="7714" height="4671">
      <image x="3354" y="2031">../home3/action_02.swf</image>
    </layer>
    <layer type="normal" width="9315" height="5693">
      <image x="4050" y="2475">../home3/dust_01.swf</image>
    </layer>
    <layer type="normal" width="8280" height="6210">
      <image x="3600" y="2700">../home3/foreground_00.swf</image>
    </layer>
  </layers>
  <locations>
	<location x="3934" y="2359">default</location>
    <location x="3674" y="2401">frontDoor</location>
  </locations>
  <bgms>
    <bgm>
      <id>home_music_light</id>
      <loops>0</loops>
      <volumeLow>0.185</volumeLow>
      <volumeHigh>0.1855</volumeHigh>
    </bgm>
  </bgms>
  
  
  
  
  <maximumSpawnStacks>0</maximumSpawnStacks>
  
  
  
  
  
  
  
  <validArea type="polygon">
    
    <vertex x="3430" y="2160"/>
    <vertex x="4380" y="2160"/>
    <vertex x="4380" y="2580"/>
    <vertex x="3430" y="2580"/>
    
  </validArea>
  
  <rooms>
    
    <room index="1" x="3934" y="2361">
      
      <bounds type="box">
        
        <left>3473</left>
        
        <right>4375</right>
        
        <top>2200</top>
        
        <bottom>2562</bottom>
        
      </bounds>
      
      <nearPlane>
        
        <left>3534</left>
        
        <right>4299</right>
        
        <top>2210</top>
        
        <bottom>2561</bottom>
        
      </nearPlane>
      
      <farPlane>
        
        <left>3624</left>
        
        <right>4214</right>
        
        <top>2210</top>
        
        <bottom>2470</bottom>
        
      </farPlane>
      
    </room>
    
  </rooms>
  
  
  
  <decorations/>
  
</zone>