<zone>
  
  <name>Cassie's Costume Shop</name>
  
  <zoneID>110004</zoneID>
  
  <assetURL/>
  
  <audioLibrary>shop</audioLibrary>
  
  <baseAvatarScale>0.2</baseAvatarScale>
  
  <clientLayout>
    
    <layers>
      
      <layer type="normal" width="918" height="600">
        
        <image x="0" y="0" type="none">CS_foreground_02.swf</image>
        
        <image x="0" y="0" type="none">CS_far_04.swf</image>
        
      </layer>
      
      <layer type="ground" width="933" height="610">
        
        <image x="0" y="0" type="merge" tag="Meadow_Theater_Camp">CS_Meadow_Theater_Camp_action_03.swf</image>
        
        <image x="0" y="0" type="merge" tag="Meadow_Cassies_Camp">CS_Meadow_Theater_Camp_action_03.swf</image>
        
        <image x="0" y="0" type="merge">CS_action_03.swf</image>
        
      </layer>
      
      <layer type="normal" width="1223" height="800" lazy="true">
        
        <image x="0" y="0" type="tileUnlessLazy">CS_foreground_02.swf</image>
        
      </layer>
      
    </layers>
    
  </clientLayout>
  
  <locations>
    
    <location x="400" y="350">default</location>
    
    <location x="300" y="400">shopEntrance</location>
    
  </locations>
  
  <bgms>
    
    <bgm>
      
      <id>sfx_theme</id>
      
      <loops>0</loops>
      
      <volumeLow>0.6</volumeLow>
      
      <volumeHigh>0.6</volumeHigh>
      
      <delayLow>0</delayLow>
      
      <delayHigh>0</delayHigh>
      
    </bgm>
    
  </bgms>
  

</zone>