<zone>
  <name>Troop Rabbit Hideout</name>
  <zoneID>204</zoneID>
  <assetURL/>
  <audioLibrary>theatreCamp</audioLibrary>
  <clientLayout>
    <layers>
      <layer type="ground" width="994" height="650">
        <image x="0" y="0" type="merge">TH_Rabbit_action_03.swf</image>
      </layer>
      <layer type="normal" width="1100" height="660">
        <image x="0" y="0" type="none">TH_foreground_02.swf</image>
      </layer>
    </layers>
  </clientLayout>
  <locations>
    <location x="400" y="500">default</location>
  </locations>
  <bgms>
    <bgm>
      <id>ambient_woods</id>
      <loops>0</loops>
      <volumeLow>0.7</volumeLow>
      <volumeHigh>0.7</volumeHigh>
      <delayLow>0</delayLow>
      <delayHigh>0</delayHigh>
    </bgm>
  </bgms>
</zone>