<zone>
  <name>Ice Palace</name>
  <zoneID>303</zoneID>
  <assetURL/>
  <audioLibrary>icePalace</audioLibrary>
  <clientLayout>
    <layers>
      <layer type="normal" width="900" height="1000">
        <image x="0" y="0" type="none">far_02.swf</image>
      </layer>
      <layer type="ground" width="1123" height="1157">
        <image x="0" y="0" type="merge">action_xmas_tree_03.swf</image>
      </layer>
      <layer type="normal" width="1623" height="1657" lazy="true">
        <image x="0" y="0" type="tileUnlessLazy">foreground_NEW_04.swf</image>
      </layer>
    </layers>
  </clientLayout>
  <bgms>
    <bgm>
      <id>icePalaceBG</id>
      <loops>0</loops>
      <volumeLow>0.5</volumeLow>
      <volumeHigh>0.5</volumeHigh>
      <delayLow>0</delayLow>
      <delayHigh>0</delayHigh>
    </bgm>
  </bgms>
  <hotspots>
    <hotspot id="27603" x="572" y="395" setVelvetRope="0" shared="true" clientTrigger="1" clientParm="0" refresh="5" playType="keyframe" itemEventId="0" tagId="1">
      <keyframes>
        <keyframe number="1" frequency="1" win="false"/>
        <keyframe number="116" frequency="1" win="false"/>
        <keyframe number="282" frequency="1" win="false"/>
        <keyframe number="421" frequency="1" win="false"/>
        <keyframe number="586" frequency="1" win="false"/>
      </keyframes>
    </hotspot>
    <hotspot id="27690" x="0" y="0" setVelvetRope="0" shared="true" refresh="10" playType="full" itemEventId="0" tagId="4"/>
    <hotspot id="27756" x="763" y="620" setVelvetRope="0" shared="true" clientTrigger="2" clientParm="3" refresh="0.1" playType="keyframe" itemEventId="0" tagId="7"/>
    <hotspot tags="Meadow_WinterWonderland_2011" id="27682" x="562" y="582" setVelvetRope="1" shared="true" serverParm="8021" clientTrigger="6" clientParm="4" refresh="2" threshold="30" playType="keyframe" itemEventId="18023" snapTargetPos="610,540,0" tagId="3">
      <keyframes>
        <keyframe number="209" frequency="1" win="true"/>
      </keyframes>
    </hotspot>
    <hotspot tags="Meadow_WinterWonder2012" id="27757" x="547" y="580" setVelvetRope="0" shared="true" refresh="8" playType="keyframe" itemEventId="0" tagId="6">
      <keyframes>
        <keyframe number="1" frequency="1" win="true"/>
        <keyframe number="22" frequency="1" win="true"/>
        <keyframe number="70" frequency="1" win="true"/>
      </keyframes>
    </hotspot>
    <hotspot tags="Meadow_WinterWonder2012" id="27760" x="139" y="835" setVelvetRope="0" shared="false" clientTrigger="1" clientParm="0" refresh="5" playType="keyframe" itemEventId="0" tagId="5"/>
    <hotspot tags="Meadow_WinterWonder2012" id="27662" x="193" y="1034" setVelvetRope="0" shared="false" clientTrigger="1" clientParm="0" refresh="5" playType="keyframe" itemEventId="0" tagId="2"/>
  </hotspots>
  
  
  
  
  
  
  
  
  
  
  
</zone>